@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,500;1,600;1,700;1,800&display=swap');

*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e6dace;
  --heavy-primary-highlight: #d5c1ac;
  --highlight-primary: #f4ece6;
  --secondary-color: #cedae6;
  --highlight-secondary: #9bb4cc;
  --buttons: #007bff;
  --highlight-buttons: #3395ff;
  --shade: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body {
  margin: 0;
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: #ffffff;
  max-width: 100%;
  z-index: -1;
  left: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
 /* Navigation Bar */
.navbar {
  max-width: 100%;
  z-index: 999 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ffffff;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}

.navbar a {
 text-decoration: none;
 color: inherit;
}

.navbar-brand {
  line-height: 1em;
  font-size: 1.8em;
  color: black;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--buttons, blue);
}

.navbar-light .navbar-nav .nav-link:active {
    color: var(--buttons, blue);
}

.dot {
  align-items: center;
  overflow: hidden;
  left: 0;
  top: 0;
  margin: auto;
  background-color: var(--buttons, blue);
  color: var(--buttons);
  width: 14px;
  height: 16px;
  font-size: 16px;
  margin-right: 10px;
}

.nav-link {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  word-wrap:initial;
}

nav a.active {
  color: var(--highlight-buttons, blue) !important;
}

.navbar-collapse {
  z-index: 999 !important;
}
/* Define the shape and color of the hamburger lines */
.navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}


/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

/*
Animate collapse into X.
 */

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}


/*
 Animate collapse open into hamburger menu
 */

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}


 /* Main body */
.content::after {
   width: 100vw;
   left: 0;
 }

.main-body {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8.5rem;
    padding-bottom: 3rem;
    font-family: inherit;
 }

.main-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    clip-path: inset(16.5% 58% 0 0);
    z-index: -1;
}

.container-fluid {
  padding-left: 0;
}

.home-card {
  background-color: #ffffff;
  width: 700px;
  height: auto;
  margin: auto;
  justify-content: space-between;
  font-size: 12px;
  font-family: inherit;
  position: inherit;
  box-shadow: var(--shd,-5px 5px 5px 5px rgba(212, 208, 208, 0.6));

}
 /* Homepage */

.card {
  background: var(--highlight-primary);
  font-family: inherit;
  width: 50%;
  height: auto;
  border-radius: inherit;
  border-style: unset;
  margin-top: 0;

}

.card-img-top {
    width: 220px;
    height: 233px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    justify-content: center;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 1.5rem auto;
}

.card-img:hover {
  transform: scale(1.2);
  transition: 1s ease-out;
}

.card-title {
    line-height: 1.2em;
    font-size: 27px;
    font-weight: lighter;
}

hr{
    width: 60px;
    transform-origin: center 1px;
    position: relative;
    border-top: 5px solid var(--buttons);
    margin-bottom: 1.4rem;
    left: 43%;
}

.profile-role {
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  font-family: monospace;
  line-height: 1.3em;
}

.mobile-buttons {
  display: none;
}

.pad {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: ivory;
}

.card-footer {
  font-family: inherit;
  justify-content: space-evenly;
  display: flex;
  text-align: center;
  padding-bottom: 0.1rem;
  margin-bottom: 0;
  align-items: center;
  padding-top: 0.1rem;
  border-top: unset;
}

.card-footer p {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
}

.card-link {
  letter-spacing: 1.5rem;
  font-size: 1.2rem;
  padding-top: 0;
  margin-top: 0;
}

.card-footer a {
  color: inherit;
  cursor: pointer;
  margin-top: 0;
}

/* Homepage Side section */
.home-card-description {
  padding: 1rem;
  width: 55%;
}

.home-card-description h1 {
  font-size: 100px;
  line-height: normal;
  letter-spacing: normal;
  display: block;
  font-weight: bold;
}

.home-card-description p {
  font-size: 15px;
}

.button1 {
  background-color: Var(--buttons, #e4c8c9);
  border: 2px solid var(--highlight-buttons, #8f454a);
  margin-top: 1rem;
  padding: 0.3rem 2.3rem;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  margin-right: 2rem;
}

.button1:hover {
  background-color: #ffffff;
  color: black;
}


.button2 {
  color: black;
  margin-top: 1rem;
  padding: 0.3rem 1.9rem;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 50px;
  margin-left: 1rem;
  border: 2px solid var(--highlight-buttons, #8f454a);
}

/* Footer */

.main-footer {
  padding-top: 1rem;
  text-align: center;
  font-size: small;
  margin-bottom: 0;
  z-index: 1;
  align-items: center;
}

.footer-contact {
  text-align: center;
  font-size: 0.9rem;
}

.footer-follow {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-links {
  letter-spacing: 0.7em;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  text-align: center;
}

.footer-links a{
  color: inherit;
  cursor: pointer;
  margin-top: 0;
  font-size: inherit;
}

.footer-bottom{
  font-size: smaller
}

/* Contact page */

.contact-body {
  background: var(--primary-color);
  height: auto;
  padding-top: 7.5rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  width: 100vw !important;
}

.headline {
  font-size: 2.2rem;
}

.contact-form {
  width: 700px;
  height: auto;
  position: inherit;
  background-color: transparent;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.contact-box {
  background-color: #ffffff;
  margin: auto;
  flex-wrap: wrap;
  box-shadow: var(--shd,-5px -5px 5px 5px rgba(190, 187, 187, 0.6));
  width: inherit;
  padding: 2rem;
  align-items: center;
}

 .form-place {
  text-align: left;
  display: block;
}

.form {
  margin: auto;
  padding: 1rem;
  align-items: center;
}
label {
  text-align: left;
  margin-bottom: 1.3rem;
  font-weight: 300;
}
.d-flex {
  justify-content: space-between;
  margin-top: 0;
}
input {
  width: 100%;
  border: none;
  padding: 2px;
  margin-top: 2px;
  border-bottom: 2px solid black;
  font-size: 14px;
  display: block;
}
input:focus {
  border-bottom: 3px solid var(--highlight-buttons);
}
input:hover {
  border-bottom: 3px solid var(--highlight-buttons);
}
#subject {
  display: block;
}
textarea {
  display: block;
  width: auto;
  margin-top: 1.6rem;
  border: none;
  padding: 2px;
  border-bottom: 2px solid black;
  font-size: 14px;
}
textarea:focus {
  border-bottom: 3px solid var(--highlight-buttons);
}
textarea:hover {
  border-bottom: 3px solid var(--highlight-buttons);
}
#submit {
  background-color: Var(--buttons, #e4c8c9);
  border: 1px solid var(--highlight-buttons, #8f454a);
  padding: 0.3rem 2.3rem;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  margin: auto;
  text-transform: capitalize;
}
#submit:hover {
  background-color: transparent;
  color: black;
  border: 2px solid var(--highlight-buttons, #8f454a);
}
.star {
  color: var(--buttons);
} 

/* Resume page */

.resume-body {
  background: var(--primary-color);
  height: auto;
  padding-top: 7.5rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  width: 100vw !important;
}

.resume-content {
  width: 700px;
  margin: auto;
  padding: 1rem;
  padding-top: 2rem;
}

.experience-style {
  font-size: 1.6rem;
  font-weight: 700;
  align-items: center;
}

.button3 {
  background-color: var(--buttons);
  padding: 0.4rem 1.1rem;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 600;
  align-items: center;
}

.button3:hover {
  background-color: transparent;
  border: 2px solid var(--buttons);
}

.experience {
  background-color: #ffffff;
  width: 700px;
  height: auto;
  margin: auto;
  justify-content: space-between;
  font-size: 12px;
  padding: 1.3rem;
  font-family: inherit;
  position:inherit;
  box-shadow: var(--shd,-5px 5px 5px 5px rgba(212, 208, 208, 0.6));
  padding-bottom: 1rem;
}
.role {
  width: 40%;
  padding: 1rem;
  text-align: left;
  line-height: 1rem;
}
.role1 {
  font-size: 20px;
  line-height: normal;
  letter-spacing: normal;
  color: var(--buttons);
  font-weight: 700;
  margin-top: 0.5px;
}
.role2 {
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 600;
  margin-top: 0.3px;
}
.role3 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.5px;
}
.role4 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.2px;
}
.description {
  width: 60%;
  padding: 1rem;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.desc-list {
    line-height: 1.5rem;
    letter-spacing: normal;
    font-size: 14px;
    text-align: left;
    font-weight: lighter;
}

ul li{
  margin-top: 7px;
  font-weight: 400;
}

.course-work {
  font-size: 17px;
  font-weight: 600;
  margin: auto;
}

.underline {
  text-decoration: underline;
}

.list-style {
  list-style: none;
}
.dot-size {
  font-size: 7px;
}
.dis-skill {
  display: flex;
  justify-content: space-evenly;
}

/* Projects page */

.md-preview {
  width: 220px;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  margin: auto;
  transform: scale(1.1);
}

.img-place {
  margin-top: 1rem;
  padding-top: 0;
  margin-bottom: 0.3rem;
  margin-right: -8px;
  padding-right: 0;
  width: 40% !important;
}

.desc-proj {
  width: 60% !important;
  line-height: 1.3rem;
}

.button4 {
  background-color: Var(--buttons, #e4c8c9);
  border: 2px solid var(--highlight-buttons, #8f454a);
  cursor: pointer;
  border-radius: 50px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}

.button4:hover {
  background-color: #ffffff;
  color: black;
}

.button4-flex {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* 404 Page */

.lost-body {
  background: var(--primary-color);
  height: 100vh;
  padding-top: 7.3rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
}

.lost-content {
  width: 700px;
  margin: auto;
  padding: 1rem;
  padding-top: 2rem;
  line-height: 1.5rem;
  color: rgb(32, 31, 31);
}

/* Responsive Styling */

/* Small devices */

@media screen and (max-width: 580px) { 

  /* Navbar */

  .navbar-toggler .navbar-toggler-icon:focus {
  text-decoration: none;
  } 

  .navbar-brand {
    margin-left: 0 !important;
  }

  .headline {
    font-size: 2.2rem !important;
  }

  /* Footer */

  .col-md-6 {
    width: auto !important;
  }
  .row {
    justify-content: space-between !important;
  }
  /* Homepage */

  .mobile-buttons {
    display: contents;
    display: flex;
  }
  .mobile-button-display {
    display: none;
  }

  .main-body::before {
    clip-path: inset(30% 0 0 0);
    padding-bottom: 0;
  }
  .main-body {
    padding-top: 7.8rem;
    padding-bottom: 0;
  }

  .home-card {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    overflow-wrap: normal;
    background-color: transparent;
    box-shadow: unset;
  }
  .home-card-description {
    width: inherit;
    padding: 2rem;
    padding-top: 1rem;
  }
  
  .card {
    box-shadow: var(--shd, -2px -2px 2px 2px rgba(218, 212, 212, 0.6));
    width: 355px;
    margin: auto;
  }

  .card-img-top {
    width: 200px;
    height: 220px;
    margin: 1.2rem auto !important ;
  }

  .card-title {
    font-size: 1.2rem !important;
    line-height: 1.5rem;
    font-weight: 600;
  }

  hr {
    width: 50px;
    border-top: 2px solid var(--buttons);
    margin-bottom: 1rem;
  }
  .mobile-buttons {
    align-items: center;
    padding-bottom: 0;
    font-size: 16px !important;
    justify-content: space-evenly;
  }
  
  .mobile-btn-touch1 {
    font-size: 18px;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    border: 1px solid var(--buttons);

  }

  .mobile-btn-touch1:hover {
    border: 1px solid var(--buttons);
  }

  .mobile-btn-touch {
    font-size: 18px;
    padding: 0.3rem 1rem;
    border: 1px solid var(--buttons);
  }

  .mobile-btn-touch:hover {
    border: 1px solid var(--buttons);
  }

  .pad {
    background-color: #ffffff;
    margin-top: 1.3rem;
  }

  .card-footer {
    background-color: transparent;
    justify-content: space-between;
  }
  
  .card-link {
    letter-spacing: 1rem;
  }

  .footer-bottom {
    border-top: 1px solid rgb(214, 209, 209);
    margin-top: 10px;
    line-height: inherit;
    align-items: center;
  }

  .main-footer {
    position: absolute;
    width: inherit;
  }

  .footer-links a{
    font-size: 1.2rem;
  }

  .hide-space {
    display: none;
  }

  /* Contact me page */

   .contact-form {
    width: auto;
    z-index: 2;
  } 

  .contact-box {
    margin: auto;
    width: 355px;
    padding: 0.7rem;
  }
  .res-flex {
    flex-direction: column;
  }

  .form-place {
    overflow: hidden;
    padding: 1rem;
  }

  #subject {
    width: inherit;
  }

  #submit {
    margin-bottom: 0.2rem;
    display: block;
  }

  /* Resume page */

  .experience-style {
    font-size: 1.5rem;
    margin: auto auto auto 0;
  }
  .resume-body {
    width: 100vw !important;
  }
  .resume-content {
    margin-bottom: 1rem;
    width: auto;
  }

  .button3 {
    font-size: 15px;
    padding: 0.3rem 0.6rem;
  }

  .experience {
    padding: 0.5rem;
    flex-direction: column;
    width: 355px;
    margin: auto;
  }

  .role {
    width: 100% !important;
    padding-bottom: 0;
  }

  .role1 {
    font-size: 16px;
    margin-left: -6px;
    margin-bottom: 8px;
  }

  .role2 {
    margin-bottom: 5px;
  }

  .role3 {
    font-size: 13px;
  }

  .role4 {
    font-size: 13px;
  }

  .description {
    width: 90% !important;
    padding-top: 0;
    margin-top: 0;
    margin-left: 1.6rem;
  }

  .course-work {
    margin-left: -1.6rem;
  }

  /* Projects page */

  .dot {
    font-size: 10px;
  }

  .project-text p {
    font-size: 14px !important;
  }

  .desc-proj {
    width: 100%;
  }

  .button4-flex {
    margin-top: 0;
    flex-direction: column;
  }

  .button4 {
    margin-top: 0.7rem;
  }

  .img-place {
    margin-left: 4px;
    padding-left: 0;
  }

  .md-preview {
    width: 310px;
    height: 275px;
    margin-top: 2rem;
    transform: scale(1);
  }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) { 
  /* Navbar */
  .navbar-brand {
    font-size: 1.2rem;
    margin-left: 0 !important;
  }
  /* Homepage */


  .profile h1 {
    font-size: 70px;
  }

  .profile p {
    font-size: 19px;
  }

  /* Contact Me page */

  .dot {
    font-size: 12px;
  }


  .res-flex {
    flex-direction: column;
  }

  #submit {
    display: block;
  } 

  /* Resume page */

  .experience-style {
    font-size: 1.5rem;
    margin: auto auto auto 0;
  }
  .resume-content {
    margin-bottom: 1rem;
  }

  .button3 {
    font-size: 15px;
    padding: 0.5rem 0.8rem;
  }

  .experience {
    padding: 0;
    flex-direction: column;
  }

  .role {
    width: 100% !important;
    padding-bottom: 0;
  }

  .role1 {
    font-size: 16px;
    margin-left: -6px;
    margin-bottom: 8px;
  }

  .role2 {
    margin-bottom: 5px;
  }

  .role3 {
    font-size: 13px;
  }

  .role4 {
    font-size: 13px;
  }

  .description {
    width: 90% !important;
    padding-top: 0;
    margin-top: 0;
    margin-left: 1.6rem;
  }

  .course-work {
    margin-left: -1.6rem;
  }

  /* Projects page */

  .dot {
    font-size: 10px;
  }


  .button4-flex {
    display: flex;
    justify-content: space-between;
  }

  .role1 {
    font-size: 17px;
  }

  .img-place {
    margin-left: 4px;
    padding-left: 0;
  }

  .md-preview {
    width: 310px;
    height: 300px;
    margin-top: 2rem;
    transform: scale(1);
  }
}

/* Laptop */
@media screen and (max-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
  /* Nav bar */
  .navbar-light .navbar-brand {
    font-size: 2rem;
  }
  .navbar-collapse {
    font-size: 1.2rem;
  }

  /* side section */
  .profile p {
    font-size: 1rem;
  }

  /* main footer*/
  .footer-contact {
    font-size: 1rem;
  }


  #submit {
    display: block;
  }

}